/* 
    Document   : main
    Created on : 19-apr-2014, 3:10:22
    Author     : Remi
    Description:
        Purpose of the stylesheet follows.
*/

.login-dialog {
    box-shadow: none;
    background-color: transparent;
    background-image:url('../assets/login_light.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding:10px;
    padding-bottom: 35px;
    border-radius: 0;
    width: 25%;
    min-width: 350px;
    left:35%
}

.sortable-header {
    cursor: pointer;
}

.button-column {
    width:10%;
    border:none !important;
}

.add-container {
    min-height: 40px;
}

.hover-url:hover + img.sample-img, .sample-img:hover {
    /*display:block;*/
    opacity: 1;
/*    width: 300px;
    height: 400px;*/
    visibility: visible;
}

.sample-img {
    /*display:none;*/
/*    position:absolute;
    left:10%;
    top:-25%;*/
    opacity: 0;
    visibility: hidden;
/*    width:0;
    height:0;*/
    max-width: 300px;
    max-height:400px;
    /*transition: opacity 1s ease-in-out 0.2s, width 0.5s ease-out 0.5s, height 0.5s ease-out 0.5s;*/
    transition: opacity 0.6s ease-in-out 0.3s, visibility 0.6s ease-in-out 0.3s;
}

