/* 
    Document   : table
    Created on : 23-apr-2014, 10:02:47
    Author     : Remi Sloot
    Description:
        Purpose of the stylesheet follows.
*/

.gl-table-row {
    transition: all 0.3s;
}

.remove {
    opacity: 0;
}

.gl-button-column {
    width: 100px;
}

.gl-table {
    margin-bottom: 50px;
}

.gl-table-column{
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

