<tr class="gl-table-row" ng-class="{'hidden':!visible}">
    <td ng-repeat="cell in cells track by $index" >
        <span class="cell-text" ng-show="!editMode">{{cell.value}}</span>
        <span ng-if="allowEdit" class="edit-mode" ng-show="editMode" ng-switch="cell.type">
            <input ng-switch-when="checkbox" type="{{cell.type}}" ng-model="cell.tmpValue" />
            <input ng-switch-default type="{{cell.type}}" class="form-control" ng-model="cell.tmpValue"/>
        </span>
    </td>
    <td ng-if="allowEdit || allowDelete" class="gl-button-column">
        <span ng-if="allowEdit">
            <button ng-click="updateValues()" class="btn" ng-class="{'btn-success': editMode, 'btn-default': !editMode}">
                <i ng-if="!editMode" class="glyphicon glyphicon-pencil"></i> 
                <i ng-if="editMode" class="glyphicon glyphicon-ok"></i> 
            </button>
            <button ng-click="cancelValues()" class="btn btn-danger" ng-show="editMode">
                <i class="glyphicon glyphicon-remove"></i> 
            </button>
        </span>
        <button ng-if="allowDelete" ng-click="deleteRow()" class="btn btn-default" ng-show="!editMode">
            <i class="glyphicon glyphicon-trash"></i> 
        </button>
    </td>
</tr>
