<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^beheer/?$ management/ [NC,L]
    RewriteRule ^beheer/(.*) management/$1 [NC,L]
    RewriteRule ^global/(.*) global/$1 [NC,L]
    RewriteRule ^$ web/    [L]
    RewriteRule (.*) web/$1 [L]
</IfModule>