<div class="dialogbackground" style="background-color: rgba(33, 84, 162, 0.4);">
    <div class="basedialog login-dialog">
        <form class="form-horizontal" data-ng-submit="login(credentials)">
            <fieldset>
                <legend>Login <span class="pull-right">{{app.name}}</span></legend>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" placeholder="Email" data-ng-model="credentials.email" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" placeholder="Password" data-ng-model="credentials.wachtwoord" required>
                    </div>
                </div>
                <div class="alert alert-danger" data-ng-show='errorMessage'>
                    {{errorMessage}}
		</div>
                <div class="btn-control" style="margin:0 10px 0 10px;">
                    <div class="pull-right">                    
                        <!--<a class="btn btn-default" data-ng-click="$back()">Cancel</a>-->
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                    <!--<a data-ui-sref="register" class="btn btn-link">Register</a>-->
                </div>				
            </fieldset>			
        </form>
    </div>
</div>