<div class="container">
    <div class="form-signin">
        <img src="assets/logo.jpg" style="width: 235px;">
        <form  data-ng-submit="login(credentials)">
            <div id="form-signin">
                <input type="email" class="form-control" id="email" placeholder="Email" data-ng-model="credentials.email" required autofocus>
                <input type="password" class="form-control" id="password" placeholder="Password" data-ng-model="credentials.wachtwoord" required>
                <button type="submit" id="btnLogOn" class="btn btn-large btn-primary btn-block ladda-button zoom-out">
                    <span class="ladda-label">Login</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </form>
        <br/>
        <div class="alert alert-danger" data-ng-show='errorMessage'>
            {{errorMessage}}
        </div>
    </div>
    <p id="copyright">&copy; InnoYou - Glassy</p>
</div>