/* 
    Document   : main
    Created on : 16-apr-2014, 17:01:25
    Author     : Remi
    Description:
        Purpose of the stylesheet follows.
*/

.main-content-placement {
    position:absolute;
    top: 54px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.nav li > p {
    padding-top: 15px;
}

#profile-form {
    margin-top:25px;
    width: 50%;
}

.form-control.std-marg-bot{
    margin-bottom: 15px
}

.left-district-nav {
    position: fixed;
    left: 0;
    width:20%;
    padding: 15px 15px;
}

.right-district-content{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    padding: 0 15px;
}

.main-container {
    width: 60%;
}

@media (max-width: 768px) {
    .main-container {
        width: 90%;
    }
    
    .left-district-nav {
        display:none;
    }
    
    .right-district-content {
        display: block;
        position: static;
        width: 100%;
        float: right;
    }
}
.participants-list {
    padding: 0;
}

.participants-list > li {
    display: inline-block;
}

.participants-list > li > img {
    border-radius: 0;
    width: 60px;
    height: 60px;
}

.buddy-thumb {
    border-color: green;
}

/*  //  #profile-form #profile-voornaam, #profile-achternaam, #profile-postcode, #profile-nummer, #profile-email, #profile-wachtwoord  {
   // margin-bottom: 15px;
  //  }*/

/* USER CSS */

.upper-right-dialog {
    position: fixed;
    top: 60px;
    right: 4%;
}

.login-dialog {
    padding: 5px;
}

/* END USER CSS */

/* INTRO CSS */

.video-frame, .map-frame {
    width: 100%;
    height: 450px;
}
.map-frame {
    pointer-events:none;
}

/* END INTRO CSS */

.action-dropdown-section {
    list-style: none;
    padding-left: 12px;
    padding: 0;
}

.action-dropdown-section > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.action-dropdown-section > li > a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.global-message {
    position:fixed;
    top: 10%;
    left: 20%;
    z-index: 1500;
    width: 60%;
    min-width: 250px;
    box-shadow: 2px 2px 10px rgba(0,0,0, 0.35);
}

.list-group > .disabled {
    cursor: none;
    pointer-events: none;
} 

.search-loader {
    float: right;
    margin-top: 25px;
}

.search-active {
    background-color: rgb(231, 238, 255);
    border-color: rgb(190, 209, 255);
}

.search-active:hover {
    background-color: rgb(211, 224, 255) !important;
    border-color: rgb(142, 175, 255);
}
/*.action-dropdown-section > .action-not-found > a {
    color: #999;
}*/

