/* 
    Document   : main
    Created on : 16-apr-2014, 17:01:25
    Author     : Remi
    Description:
        Purpose of the stylesheet follows.
*/

.main-content-placement {
    position:absolute;
    top: 54px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.nav li > p {
    padding-top: 15px;
}

#profile-form {
    margin-top:25px;
    width: 50%;
}

.form-control.std-marg-bot{
    margin-bottom: 15px
}

.left-district-nav {
    position: absolute;
    left: 0;
    width:20%;
    padding: 0 15px;
}

.right-district-content{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    padding: 0 15px;
}

.main-container {
    width: 60%;
}

@media (max-width: 768px) {
    .main-container {
        width: 90%;
    }
    
    .left-district-nav {
        display:none;
    }
    
    .right-district-content {
        display: block;
        position: static;
        width: 100%;
        float: right;
    }
}
.participants-list {
    padding: 0;
}

.participants-list > li {
    display: inline-block;
}

.participants-list > li > img {
    border-radius: 0;
    width: 60px;
    height: 60px;
}

.buddy-thumb {
    border-color: green;
}

/*  //  #profile-form #profile-voornaam, #profile-achternaam, #profile-postcode, #profile-nummer, #profile-email, #profile-wachtwoord  {
   // margin-bottom: 15px;
  //  }*/

/* USER CSS */

.upper-right-dialog {
    position: fixed;
    top: 60px;
    right: 4%;
}

.login-dialog {
    padding: 5px;
}

/* END USER CSS */

/* INTRO CSS */

.video-frame, .map-frame {
    width: 100%;
    height: 450px;
}

/* END INTRO CSS */

