<legend>Providers</legend>

<div class="add-container">
    <button class="btn btn-default pull-right" type="button" ng-click="toggleAdd()">Toevoegen</button>
</div>

<div class="dialogbackground" ng-show="showAdd">
    <div class="basedialog" ng-show="showAdd" style="padding: 10px;">
        <button class="close-btn" ng-click="toggleAdd()">X</button>
        <form ng-submit="add(provider)">
            <fieldset>
                <legend>Provider toevoegen</legend>
                
                <div class="form-group">
                    <label for="Name">Naam</label>
                    <input type="text" class="form-control" id="naam" placeholder="name" ng-model="provider.naam" required autofocus/>
                </div>
                <div class="form-group">
                    <label for="Website">Website</label>
                    <input type="text" class="form-control" id="website_url" placeholder="website" ng-model="provider.website_url" required>
                </div>
                
                <div class="btn-row pull-right">
                    <button class="btn btn-primary" type="submit">Toevoegen</button>
                    <button class="btn btn-default" type="button" ng-click="toggleAdd()">Annuleren</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div>
    <gl-table>
        <gl-table-head></gl-table-head>

        <gl-table-body>
            <gl-table-row ng-repeat="n in indexList(10) track by $index" row="{{$index}}"></gl-table-row>
        </gl-table-body>
        <gl-table-pager maxpages="3"></gl-table-pager>

    </gl-table>
</div>
