/* 
    Document   : main
    Created on : 19-apr-2014, 3:17:46
    Author     : Remi
    Description:
        Purpose of the stylesheet follows.
*/


/* UTIL CLASSES */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.dialogbackground {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 20;
}

.basedialog {
    position:fixed;
    top:33%;
    right:33%;
    width:30%;
    z-index:10;
    box-shadow: 2px 2px 10px;
    background-color: white;
    border-radius: 10px;
}

.img-fullscreen {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.img-fullscreen-stretch {
    width: 100%;
    height: 100%;
}

.close-btn {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 11;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 0px 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    box-shadow: 1px 1px 3px;
    cursor:pointer;
    text-decoration:none;
    color:black;
}

.close-btn:hover {
    /*padding: 2px 8px;*/
    /*border-radius: 15px;*/
/*    right: -12px;
    top: -12px;*/
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color: #d9534f;
}

.hover-menu {
    position:fixed;
    top:60px;
}

.global-message {
    position:fixed;
    top: 10%;
    left: 20%;
    z-index: 1500;
    width: 60%;
    min-width: 250px;
    box-shadow: 2px 2px 10px rgba(0,0,0, 0.35);
}

/* END UTILS CLASSES */
