
<div>
  <h1 class="page-header">Actie bewerken</h1>
</div>

<form class="form-horizontal">
    
    <fieldset id="personal">
        <legend>Actie gegevens</legend>
        
        <div class="form-group">
            <label for="profile-name" class="col-sm-2 control-label">Naam:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="actie.name" placeholder="Voorbeeldnaam" data-ng-model="actie.name" />
            </div>
            <label for="profile-name" class="col-sm-2 control-label">Status: </label>
            <div class="col-sm-3">
                <select class="form-control" id="actie.status" placeholder="Looptijd in dagen" value="actie.status" data-ng-model="actie.status">
                    <option>Default</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="profile-name" class="col-sm-2 control-label">Start actie:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="actie.totalHousholds" placeholder="Aantal huishouden in wijk" data-ng-model="actie.totalHousholds" />
            </div>
            <label for="profile-name" class="col-sm-2 control-label">Eind actie: </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="actie.duration" placeholder="Looptijd in dagen" data-ng-model="actie.duration" />
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Wijk gegevens</legend>
        
        <div class="form-group">
            <label for="profile-name" class="col-sm-2 control-label">Naam:</label>
            <div class="col-sm-3">
                <input disabled="true" type="text" class="form-control" id="wijk.name" placeholder="Voorbeeldnaam" data-ng-model="wijk.name" />
            </div>
            <label for="profile-name" class="col-sm-2 control-label">Totaal Huishoudens: </label>
            <div class="col-sm-3">
                <input disabled="true" type="text" class="form-control" id="wijk.total" placeholder="6000" data-ng-model="wijk.total" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="profile-name" class="col-sm-2 control-label">Doel: </label>
            <div class="col-sm-3">
                <input disabled="true" type="text" class="form-control" id="wijk.target" placeholder="2000" data-ng-model="wijk.target" />
            </div>
            <label for="profile-name" class="col-sm-2 control-label">Duur: </label>
            <div class="col-sm-3">
                <input disabled="true" type="text" class="form-control" id="wijk.duration" placeholder="100" data-ng-model="wijk.duration" />
            </div>
        </div>
        
        <!-- Wijk map display -->
        <div class="form-group">
            <div class="map-frame" id="map" style='height: 400px;'>
                <iframe ng-src="{{mapsUrl}}" id="mapFrame" frameborder="0" style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Opslaan</legend>
    </fieldset>
    <button type="submit" class="btn btn-primary pull-right" ng-click="addWijk(wijk)">Opslaan</button>    
</form>
