<aside ui-view="left-nav" class="left-district-nav">
    <div class="list-group">
        <a data-ng-click="scrollTo('map')" class="list-group-item">Kaart</a>
        <a data-ng-click="scrollTo('video')" class="list-group-item">Video</a>
        <a data-ng-click="scrollTo('goededoel')" class="list-group-item">Goed doel</a>
        <a data-ng-click="scrollTo('forum')" class="list-group-item">Buurt forum</a>
    </div>    
    <div class="action-img">
        <img ng-src="{{actionImgUrl}}" />
    </div>
</aside>

<div class="page-header">
    <h1>
        {{actie.naam}}
        <button class="pull-right btn btn-primary" style="width:200px;" ng-show="actie.stateVisible" ng-click="handleStateButton()">{{actie.userStateMessage}}</button>
    </h1>
</div>

<h4 id="map">De buurt</h4>
<hr />
    <div class="map-frame" >
        <iframe ng-src="{{mapsUrl}}" frameborder="0" style="width:100%; height:100%;"></iframe>
    </div>

<h4 id="video">Buurt video</h4>
<hr />
    <div class="video-frame" ng-show="showVideo">
        <iframe style="width:100%; height:100%;" ng-src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe>
    </div>
<p ng-show="!showVideo">
    Er is nog geen buurt video toegevoegd
</p>

<h4 id="goededoel">uw goede doel  {{actie.goedeDoel.title}}</h4>
<hr/>
    <div class="goedeDoel-frame">
       {{actie.goedeDoel.message}}

        Target 
        <div id="goedeDoelTarget" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{actie.stats.goedeDoelPartPerc}}%;">
            </div>
        </div>
    </div>

<h4 id="forum">Buurt forum</h4>
<hr />

<div class="media" ng-repeat="thread in actie.threads">
    <a class="pull-left">
        <img class="media-object" src="http://www.iconsdb.com/icons/preview/dark-gray/question-mark-2-xl.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{thread.title}}</h4>
        {{thread.description}}
        <hr />
        <div class="media" ng-repeat="message in thread.post">
            <a class="pull-left">
                <img class="media-object" ng-src="{{message.foto_link}}" style="max-height: 64px; max-width:64px;" >
            </a>
            <div class="media-body">
                {{message.message}}
            </div>
        </div>
    </div>
</div>


    <aside ui-view="right-nav" class="right-district-content">
        <div class="page-header" style="margin-top:5px;">
            <h1 style="margin-top:5px;">
                <!--<small><b>50%</b></small><br/>-->
                <small><b>Targets</b></small>
            </h1>
        </div>

        <div class="progress-container">
            1. Bewoners verzamelen {{actie.stats.targetPartPerc}}%
            <div id="myProgressbar" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{actie.stats.targetPartPerc}}" aria-valuemin="0" aria-valuemax="100" style="width:{{actie.stats.targetPartPerc}}%;">
                </div>
            </div>
            2. Inschrijven {{actie.stats.paidTargetPerc}}%
            <div id="Div1" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{actie.stats.paidTargetPerc}}" aria-valuemin="0" aria-valuemax="100" style="width:{{actie.stats.paidTargetPerc}}%;">
                </div>
            </div>
            3.Provider selecteren {{actie.stats.providerSelecPerc}}%
            <div id="Div2" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{actie.stats.providerSelecPerc}}" aria-valuemin="0" aria-valuemax="100" style="width:{{actie.stats.providerSelecPerc}}%;">
                </div>
            </div>
<!--            4. Glasvezel aandeel 0%
            <div id="Div3" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>-->
            4. Glasvezel aanleggen 0%
            <div id="Div4" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            5. overgestapt naar glasvezel 0%
            <div id="Div5" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>

        <div class="participants">
            <div class="page-header" style="margin-top:5px;">
                <h1 style="margin-top:5px;">
                    <small style="display:block;"><b>Deelnemers</b> <span class="pull-right">{{actie.deelnemers.length}}</span></small>
                </h1>
            </div>

            <ul class="participants-list">
                <li ng-repeat="deelnemer in actie.deelnemers" title="{{deelnemer.voornaam}}">
                    <img ng-if="deelnemer.account.foto_link" ng-src="{{deelnemer.account.foto_link}}" class="img-thumbnail" ng-class="{'buddy-thumb':deelnemer.buddy}" />
                    <!--<img ng-if="!deelnemer.account.foto_link" src="assets/user.png" class="img-thumbnail" ng-class="{'buddy-thumb':deelnemer.buddy}" />-->
                </li>
            </ul>
        </div>
    </aside>
