<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html data-ng-app="glassy" data-ng-controller="MainCtrl">
    <head>
        <title>Glassy</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--Load Angular-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        
        <!--Load Modules-->
        <script src="http://angular.github.io/angular-phonecat/step-7/app/bower_components/angular-route/angular-route.js"></script>
<!--        <script src="http://code.angularjs.org/1.1.5//angular-resource.min.js"></script>-->
<!--        <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>-->
        <script src="global/common/modules/ui-bootstrap.js"></script>
        <!--<script src="https://raw.githubusercontent.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.10.0.min.js"></script>-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>	
        <!--Load Boot-->
        <script src="global/config.js"></script>
        <script src="app/app.js"></script>
        
        <!--Load Controllers-->
        <script src="app/MainController.js"></script>
        <script src="app/user/UserController.js"></script>
        <script src="app/wijk/WijkController.js"></script>
        <script src="app/faq/FaqController.js"></script>
        <script src="app/search/SearchController.js"></script>
        <script src="app/profiel/ProfielController.js"></script>
        
        <!--Load Models-->
        <script src="models/srvAuth.js"></script>
        <script src="models/user.js"></script>
        <script src="models/district.js"></script>

        <!--Load LayoutFiles-->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
        <!--<link type="text/css" rel="stylesheet" href="web/styles/main-css.php" />-->
        <link type="text/css" rel="stylesheet" href="global/styles/main.css" />
        <link type="text/css" rel="stylesheet" href="styles/main.css" />
        
        <script> var showImg = function() { var img = document.getElementById('full-img'); img.className = img.className + " show-img"; }</script>
		
    </head>
    <body data-ng-controller="UserCtrl">
        <!-- 
            Nav left:
            - Top 10
            - FAQ
            Nav items:
            - searchbar op basis van wijknaam (en/of postcode?)
            - Mijn wijk (als gebruiker bij een wijk zit)
            Nav right:
            - Welkom
            - gebruikersnaam, dropdown: profiel, logout
        -->
        
        <nav data-ui-view="nav" class="navbar navbar-default main-navbar bottom-shadow" role="navigation" style="border-radius: 0px; z-index:10;">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">{{app.name}}</a>
                
              </div>
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar">
                  <ul class="nav navbar-nav navbar-left">
                      <li ng-if="false"><a href="#/">Top 10</a></li>
                      <li><a href="#/faq">FAQ</a></li>
                  </ul>
                  <ul class="nav navbar navbar-nav" style="margin-left:5%;">
                      <li data-ng-show="user.gebruiker.actie_id"><a href="#/wijk/{{user.gebruiker.actie_id}}">Mijn wijk</a></li>
                      <li class="dropdown" ng-show="district.closeby.length">
                          <a class="dropdown-toggle" data-toggle="closeby-dropdown">Wijken in de buurt <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li ng-repeat="district in district.closeby" ng-if="district.beschikbaar">
                                    <span class="dropdown-header">{{district.wijk_naam}}</span>
                                    <ul class="action-dropdown-section">
                                        <li ng-repeat="actie in district.actie" ng-class="{'bg-success': actie.actie_id != user.gebruiker.actie_id, 'bg-info':actie.actie_id == user.gebruiker.actie_id}">
                                            <a href="#/wijk/{{actie.actie_id}}">{{actie.naam}}</a>
                                        </li>
                                        <li ng-hide="district.actie.length" class="action-not-found"><a><small class="text-muted">Geen acties gevonden</small></a></li>
                                    </ul>
                                    <span class="divider"></span>
                              </li>
                          </ul>
                      </li>
                  </ul>
                  
                  <ul class="nav navbar-nav navbar-right">
                      <li data-ng-show="!user.isLogged"><a data-ng-click="toggleLogin()">Login</a></li>
                      <li data-ng-show="!user.isLogged"><a href="#/register">Register</a></li>
                      <!--<li data-ng-show="user.isAdmin && user.isLogged"><a href="/beheer/">Beheer</a></li>-->
                      <li class="dropdown" data-ng-show="user.isLogged">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><!-- <i class="glyphicon glyphicon-user"></i>--><img ng-src="{{user.account.foto_link}}" class="user-image"/> {{user.gebruiker.naam}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#/profiel">Profiel</a></li>
                          <li class="divider"></li>
                          <li><a data-ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
                        </ul>
                      </li>
                  </ul>
                  
                  <form class="navbar-form navbar-right" role="search" style="margin-right:5%;" ng-submit="search(search.value)">
                      <div class="form-group input-group">
                          <input type="text" class="form-control" placeholder="Zoek een wijk" style="width:auto;" ng-model="search.value">
                          <span class="input-group-btn" style="display:inline-block;">
                              <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </span>
                      </div>
                  </form>
                  
              </div><!-- /.navbar-collapse -->
              
                
              
            </div><!-- /.container-fluid -->
          </nav>
        <div ng-show="global._messageVisible" class="global-message alert alert-{{global._messageType}}">
            <button type="button" class="close" ng-click="global._messageVisible = false;">&times;</button>
            {{global._message}}
        </div>
        <div data-ng-include="'app/user/login.html'" data-ng-show="views.showLogin"></div>
<!--        <div class="basedialog">
            <div class="alert alert-info alert-dismissable" style="margin:0;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Heads up!</strong> Manier om berichten aan de gebruiker te tonen
                
                <ul>
                    <li>De tab kan eventueel weg als deze niet nodig is</li>
                    <li>De breadcrumbs kunnen eventueel weg als deze niet nodig zijn</li>
                </ul>
            </div>
        </div>-->
        <!-- START CONTENT -->
        <div class="main-content-placement">
            
<!--            <aside ui-view="left-nav" class="left-nav pull-left" style="width:20%;padding:0 15px;">
                
            </aside>
            
            <aside ui-view="right-nav" class="right-content pull-right" style="width:20%;padding:0 15px;">
                 Hier kunnen bijv. de buddies en statussen van de actie komen te staan 
            </aside>-->
            
            <div ng-view class="container main-container">
<!--                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#">Item1</a></li>
                    <li><a href="#">Item2</a></li>
                    <li><a href="#">Item3</a></li>
                </ul>-->
            </div>
            
        </div>
</body>
</html>

